.about {
    padding: 80px 0;
}
.about_descr_items {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.about_descr_item_left {
    display: grid;
    grid-template: 0.6fr 1fr / repeat(2,1fr) ;
    gap: 30px;
    padding: 0 10px;
    width:100%;
    height:100%;
}
.about_descr_item_left img:last-child{
    grid-column: 1/3;
}
.about_descr_item_left img {
    width:100%;
    height:100%;
    align-self: center;
    justify-self: flex-end;
}
.about_descr_item_right {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
}
.about_descr_item_right h3 {
    font-size: 30px;
}
.about_descr_item_right p {
    padding: 20px 0;
    color : #999;
}
.about_descr_item_right p span {
    color: #ff9900;
}
.stat {
    background: url(../../img/13.jpg)  0px 0px / cover no-repeat;
    min-height: 300px;
    color: white;
    margin-top: 80px;
}
.stat_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stat_item img {
    width:40px;
    height:40px;
}
.stat .counter {
    margin: 20px 0;
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Open Sans', serif;
}
.stat_title {
    font-size: 20px;
    text-transform: uppercase;
}
.stat_wrap {
    display: grid;
    grid-template-columns:  repeat(4,auto);
    padding: 80px 0;
}
.about_buttom {
    padding-top: 80px;
}
.about_buttom .container {
    display: flex;
    justify-content: space-between;
}
.about_buttom_left {
    padding: 0 10px;
    width:50%;
}
.about_buttom_left h3 {
    margin-top: 0;
    font-size: 25px;
}
.about_buttom_left ol {
    padding-left: 20px;
}
.about_buttom_left ol li {
    margin-bottom: 15px;
    font-size: 17px;
    color:#999;
}
.about_buttom_left p {
    font-size: 17px;
    color:#999;
    margin: 1em 0 1em;
}
.about_buttom_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    width:50%;
}
.about_buttom_strip {
    background-color:#E4E4E4;
    height:4px;
    width:100%;
    position: relative;
    border-radius: 2px;
    margin-bottom: 30px;
}
.about_buttom_strip:after{
    height: 4px;
    border-radius: 2px;
    background: #ff9900;
    display: block;
    content: '';
    position: absolute;
    display: block;
}
.about_buttom_strip1:after {
    width:67%;
}
.about_buttom_strip2:after {
    width:38%;
}
.about_buttom_strip3:after {
    width:47%;
}
.about_buttom_strip4:after {
    width:100%;
}
.about_buttom_strip5:after {
    width: 80%;
}