.news {
    padding: 80px 0 50px;
}
.news_item img{
    width:25px;
    float: right;
}
.news_title {
    font-size: 2em;
    font-weight: 700;
    padding: .5em 1em;
    box-shadow: 0px 0px 2px #b0b0b0;
    text-transform: uppercase;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
.news_subtitle {
    text-align: center;
    color: #ff9900;
    font-size: 18px;
    margin: .5em 0 0;
    font-weight: 500;
    font-family: 'Open Sans', serif;
}
.news_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    }
.news_items {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    padding: 0 20px;
 } 
.news_item {
    margin-right: 30px;
    }
.news_item p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: .5em;
    margin-bottom: .5em;
    position: relative;
    font-weight: 800;
 }
 .news_descr img {
     max-width:100%;
 }
 .news_list a {
     color: #212121;
 }
 .news_list a:hover {
     color: #ff9900;
 }
.data {
    padding-top: 5px;
    font-size: 30px;
    color: #212121;
    padding-bottom: .5em;
    margin-bottom: .5em;
    position: relative;
    font-weight: 800;
    text-align: right;
 }
 .recent_posts_item .number_comment {
     color: #999;
 }
 .recent_posts_item .number_comment:hover {
    color: #ff9900;
 }
.news_comments h4 {
    margin-left: 40px;
 }
.news_item span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #999;
    margin: 5px 0;
}
 .data:before, .data:after, .comments:before, .comments:after {
	content:'';
	position:absolute;
	bottom:0%;
	height:2px;
	border-radius:5px;
}
 .data:before , .comments::before{
	width: 100%;
    background: #d5d5d5;
    left: 0;
}
 .data:after, .comments::after{
	width: 83%;
    background: #ff9900;
    right: 0%;
}
.envelope, .eye {
    margin-bottom: 5px;
}
.news_descr a {
    display: block;
    color: #ff9900;
    margin: 1.5em 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}
.news_descr p {
    color: #999;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    margin-bottom: 50px;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
}
/* page news.html */
.news_company{
    padding: 80px 0 60px;
}
.news_company .container {
    display: flex;
}
aside {
    width:33%;
    padding: 0 15px;
}
.recent_posts {
    margin-bottom: 40px;
    padding: 30px;
    border: 5px solid #f5f5f5;
}
.recent_posts h3, .twitter_posts h3 {
    font-size: 1.3em;
    color: #ff9900;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    margin-top: 0;
}
.recent_posts_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recent_posts_item_img {
    width:30%;
}
.recent_posts_item_img img {
    display: block;
    width: 100%;
}
.recent_posts_item_info {
    width:65%;
}
.recent_posts_item_info h4 {
    margin-top: 0;
    margin-bottom: 10px;
}
.recent_posts_item_info a{
    font-size: 17px;
    text-decoration: none;
    color: #212121;
    line-height: 1em;
}
.recent_posts_item_info a:hover{
    color: #999;;
}
.recent_posts_item_info img {
    position: relative;
    top: 1px;
    margin-right: 3px;
}
.recent_posts_item_info li {
    display: inline-block;
}
.recent_posts_item_info li:first-child{
    margin-right: 20px;
}
.recent_posts_item_2 , .recent_posts_item_4{
    margin: 40px 0;
}
.recent_posts_item_4 {
    margin-bottom: 0;
}
.twitter_posts img, .news_list img, .comments_data img, .recent_posts_item_info img {
    width:15px;
    height:15px;
}
.twitter_posts {
    padding: 2em;
    border: 5px solid #f5f5f5;
}
.twitter_posts p{
    padding-left: 20px;
    color: #999;
    line-height: 2em;
}
.news_list img {
    width:15px
}
.news_list li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.news_list li img {
    margin-right: 20px;
}
.news_list li p {
    margin:3px 0 0;
}
.news_right {
    width: 67%;
    padding: 0 15px;
}
.news_list ul {
    display: flex;
}
article h3{
    margin: 45px 0;
    color: #212121;
    font-size: 1.4em;
    padding-left: 1.5em;
    line-height: 1.8em;
    border-left: 5px solid #ff9900;
}
article img {
    max-width:100% ;
}
article p {
    margin: 50px 0;
    line-height: 2.0em;
}
.news_comments {
    margin: 0 auto;
    padding: 50px 15px;
}
.news_comments h4 {
    text-transform: uppercase; 
    font-size: 28px;
}
.news_comments_item {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 0.4fr 1fr;
    gap: 30px 0;
}
.news_comments_item_foto {
    place-self:center;
}
.news_comments_item h4 {
    align-self:center;
}

.user_wrap a {
    color: #ff9900;
}
.user_wrap a:hover {
    color:black;
} 
.user_wrap p {
    color: #999;
}
.comments_data {
    display: flex;
    margin: 10px 0;
}
.user_comment{
    margin: 10px 0;
}
.comments_data img {
    margin-right: 20px;
}
.reply a {
    color: black;
}
.reply a:hover {
    color: #ff9900;
}
.comments_wrap {
    padding: 0 150px;
    width:100%;
    margin-bottom: 0;
}
.comments_columns {
    text-align: center;
    text-transform: uppercase;
}
.comments_columns h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.comments_wrap .form_top_left {
    width:50%;
}
.comments_wrap .form_top_left input {
    outline: none;
    background: #f5f5f5;
    border: 1px solid #E6E6E6;
}
.news_container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: center;
}
.comments_wrap .form_email {
    margin-top: 15px;
}
.news_button {
    width:50% ;
    margin:20px 15px;
    padding-right: 30px;
}
.news_button input {
    width:70%;
    padding: 15px;
    color: #212121;
    outline: none;
    padding: 15px 0;
    font-size: 20px;
    color: #fff;
    background: #ff9900;
    transition: all 1s;
    border: none;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
}
.news_button input:hover {
    background: #212121;
}