.clean {
    display: flex;
    justify-content: center;
    padding: 85px 80px;
    }
.cleaning {
    height: 985px;
    width: 1080px;
    background:url('../../img/cac.png') center center / contain no-repeat;
}
