body{
    padding: 20px;
}
.data {
    color: green;
}
.champ {
    color: red;
}
a {
    text-decoration: none;
    color: blue;
}
p {
    color: blueviolet;
    font-style: italic;
}
a[href]::before {
    content:url(extref.png);
    padding: 5px;
}